body {
  margin: 0;
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: 80px 1fr 1fr 1fr 1fr 80px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header header"
    " . content content content content . "
    "footer footer footer footer footer footer";
}

.top-container {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav nav"
    "image image image";
}

#pub-bar-img {
  width: 100%;
  height: auto;
  grid-area: image;
}

.nav-bar {
  grid-area: nav;
  background-color: #1a1a1a;
  justify-self: end;
  width: 100%;
  height: 48px;
}

#nav-button, #nav-menu {
  list-style-type: none;
  padding: 0px;
  width: 100%;
  overflow: hidden;
	margin-top: 0px;
	margin-bottom: 0;
  position: relative;
}

#nav-button li {
  float: right;
  width: 120px;
  height: 80px;
  border: none;
  font-weight: 100;
}

#nav-button li a, #nav-menu li a {
  display: block;
  color: white;
  padding: 14px 0px;
  text-decoration: none;
  font-family: Arial;
  text-align: center;
  vertical-align: middle;
  border: 2px black hidden;
}

#nav-button li:first-child a {
  border-left: 1px solid rgb(41, 44, 47);
  color: ghostwhite;
}

#nav-button li a:hover, #nav-menu li a:hover {
  background-color: rgba(160, 160, 160, 0.3);
  border-bottom: 2px green solid;
  transition: ease-in-out, 0.5s;
}

#nav-menu li a:hover {
  border: none;
}

.menu-icon {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 15px 0 15px;
  color: #999;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 2;
  display: none;
}

#hamburger {
  line-height: 45px;
  font-size: 1.4em;
}

#cross {
  line-height: 60px;
  font-size: 3em;
  display: none;
}

.content {
  grid-area: content;
  background-color: ghostwhite;
  z-index: 1;
  margin: -2% 0 -1% 0;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-footer {
  grid-area: footer;
  background: rgb(41, 44, 47);
  color: white;
  bottom: 0;
  width: 96%;
  height: auto;
  padding: 2%;
  display: grid;
  grid-template-columns: 25% 35% 35%;
  grid-template-rows: auto;
  grid-template-areas:
  "footer-left footer-center footer-right";
}

#footer-company-details, #footer-contact-details, #footer-company-about {
  align-self: stretch;
  justify-self: stretch;
  text-align: left;
  margin: 0;
}

#footer-company-details {
  grid-area: footer-left;
}

#footer-contact-details {
  grid-area: footer-center;
}

#footer-company-about {
  grid-area: footer-right;
}

#footer-company-details h1, #footer-company-about h1 {
  margin: 10px 0 0 0;
}

#footer-company-details h1, .footer-icon-text, #footer-company-about h1 {
  font-size: 16px;
  font-weight: bold;
}

#footer-company-details p, #footer-company-about p, #footer-company-location span {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.footer-contact-icon, .footer-media-icon {
  float: left;
  background-color: #32373c;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-contact-icon {
  border-radius: 50%;
}

.footer-media-icon {
  border-radius: 2px;
  margin: 10px 5px;
}

#footer-company-location, #footer-company-phone, #footer-company-email {
  margin-bottom: 10px;
}

#footer-company-location span, #footer-company-phone span, #footer-company-email span {
  display: block;
  line-height: 2;
  font-size: 16px;
  margin: 0;
}

#footer-company-phone .footer-icon-text p {
  display: inline-block;
  line-height: 1.75;
}

@media only screen and (max-width: 850px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "content content content content"
    "footer footer footer footer";
  }

  .nav-bar {
    justify-self: stretch;
    position: fixed;
  }

  #nav-button {
    display: none;
  }

  #nav-menu {
    display: none;
    background-color: #1a1a1a;
  }

  .menu-icon {
    display: block;
  }

  .page-footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "footer-left footer-right"
    "footer-bottom footer-bottom";
  }

  #footer-company-details, #footer-contact-details, #footer-company-about {
    text-align: left;
    margin: 10px 0;
    width: 96%;
  }

  #footer-company-details {
    align-self: stretch;
    justify-self: stretch;
    grid-area: footer-left;
  }

  #footer-contact-details {
    align-self: stretch;
    justify-self: stretchr;
    grid-area: footer-right;
  }

  #footer-company-about {
    align-self: stretch;
    justify-self: center;
    grid-area: footer-bottom;
    text-align: center;
  }
}

@media only screen and (min-width: 851px) {
  #nav-button {
    display: block;
  }

  #nav-menu {
    display: none;
  }
}
