/*** Event Stylesheet used across event based pages ***/
/* Main section where events are shown */
#show-event-container {
  margin-top: 0px;
  min-height: 500px;
}

form h1 {
  width: auto;
  font-size: inherit;
  margin: auto;
  padding-bottom: inherit;
  border-bottom: none;
}

/*** Event Styling ***/
/* Organisation on the Page */
#event-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* Individual box styling */
.event-container {
  border: 0.5px solid #666;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 10px 30px;
  height: 300px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.event-header {
  font-size: 36px;
  margin: 20px 0 0 0;
}

.event-subheader {
  font-size: 24px;
  margin: 5px;
}

.event-text {
  font-size: 16px;
  font-weight: 100;
  height: auto;
}

/* Creates a fade at the bottom of the section */
#text-fade {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 40px 0;
  background-image: linear-gradient(to bottom, transparent, white);
}

#view-event-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 0;
  background: linear-gradient(#6fa9ff, #4892ff);
  color: white;
  border: none;
}

#view-event-btn:hover {
  background: linear-gradient(#78b4ff, #559cff);
}

/*** Registration form ***/
/* Buttons used in the registration form */
.register-event ul {
  width: 300px;
  display: -webkit-flex;
  margin: auto;
  padding: 0;
  margin-top: 2%;
}

/* makes buttons appear side-by-side with no spacing between */
.double-button {
  width: 120px;
  display: block;
  margin: 0 0 5px 0;
}

#next, #finish {
  border-radius: 0 5px 5px 0;
}

#cancel {
  border-radius: 5px 0 0 5px;
}

/* Sections for displaying tasks to the user */
#step-one, #step-two {
  width: 300px;
  margin: auto;
  box-shadow: 0 0 4px 0 #00000033;
}

#step-two {
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

/* Sectiosn that show error statuses to the user */
#error-report, #login-request {
  margin: 10px 5px;
  color: red;
}

/** Media Queries **/
/* When the page is below 850px, add padding */
@media only screen and (max-width: 850px){
  #show-event-container{
    padding: 0 20px;
  }
}

/* When the page is between 550px and 1000px, change grid template */
@media only screen and (min-width: 550px) and (max-width: 1000px){
  #event-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* When the page is below 549px, chnage the grid template */
@media only screen and (max-width: 549px) {
  #event-grid {
    grid-template-columns: 1fr;
  }
}
