#show-event-container {
  margin-top: 0px;
  min-height: 500px;
}

form h1 {
  width: auto;
  font-size: inherit;
  margin: auto;
  padding-bottom: inherit;
  border-bottom: none;
}

#event-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.event-container {
  border: 0.5px solid #666;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 10px 30px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.event-header {
  font-size: 36px;
  margin: 20px 0 0 0;
}

.event-subheader {
  font-size: 24px;
  margin: 5px;
}

.event-text {
  font-size: 16px;
  font-weight: 100;
  height: auto;
}

#text-fade {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 40px 0;
  background-image: linear-gradient(to bottom, transparent, white);
}

#view-event-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 0;
  background: linear-gradient(#6fa9ff, #4892ff);
  color: white;
  border: none;
}

#view-event-btn:hover {
  background: linear-gradient(#78b4ff, #559cff);
}

.register-event ul {
  width: 300px;
  display: -webkit-flex;
  margin: auto;
  padding: 0;
  margin-top: 2%;
}

.double-button {
  width: 120px;
  display: block;
  margin: 0 0 5px 0;
}

#next {
  float: right;
  border-radius: 0 5px 5px 0;
}

#cancel {
  float: left;
  border-radius: 5px 0 0 5px;
}

#step-one, #step-two {
  width: 300px;
  margin: auto;
  box-shadow: 0 0 4px 0 #00000033;
}

#step-two {
  padding: 5px;
  text-align: center;
}
