/***  'Global' definitions  ***/
* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
  outline: none;
}

/* Removes scrollbar */
body::-webkit-scrollbar {
  width: 0!important;
}

h1 {
  font-weight: 200;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

/***  Main code body  ***/
/* Sets grid to cover webpage and scales responsively */
.container {
  height: 100%;
  display: grid;
  grid-template-columns: 80px 1fr 1fr 1fr 1fr 80px;
  grid-template-rows: auto auto 30%;
  grid-template-areas:
    "header header header header header header"
    ". content content content content ."
    "footer footer footer footer footer footer";
}

/***  Navigation Bar  ***/
/* Sets a Naviation Bar to span the width of the page when created */
.top-container {
  height: auto;
  grid-area: header;
  display: grid;
  grid-template-columns: 80px auto 80px;
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav nav";
}

.nav-bar {
  grid-area: nav;
  justify-self: end;
  width: 100%;
  top: 0;
  position: fixed;
  transition: ease-in-out, 0.5s;
  background: white;
  z-index: 1;
}

#nav-button, #nav-menu {
  list-style-type: none;
  padding: 0;
  width: 100%;
  overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
}

#nav-menu {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  transition: ease-in-out, background 0.5s;
}

#nav-button li {
  float: right;
  width: 120px;
  border: none;
  padding: 7px;
}

#nav-button li a {
  border-bottom: 1px white solid;
  font-weight: 200;
}

#nav-button li a, #nav-menu li a {
  display: block;
  color: #413c3c;
  padding: 14px 0px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  transition: ease-in-out, border-bottom 0.5s;
}

#nav-button li:first-child a {
  border-radius: 10px;
  border: none;
  background: #a2c1e094;
  color: #413c3c;
  transition: ease-in-out, background 0.5s;
}

#nav-button li a:hover, #nav-menu li a:hover {
  border-bottom: 1px green solid;
}

#nav-button li:first-child a:hover {
  background: #a2c1e037;
  border: none;
}

#nav-menu li a:hover {
  border: none;
}

/* Used for icons when page width < 850 */
.menu-icon {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 15px 0 15px;
  color: black;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 2;
  float: right;
  display: none;
}

#hamburger {
  line-height: 45px;
  font-size: 1.4em;
}

#cross {
  line-height: 60px;
  font-size: 3em;
  display: none;
}

#pub-title-nav {
  grid-area: nav;
  place-self: stretch stretch;
  margin: 6px;
  padding: 0;
  font-size: 30px;
  color: black;
  background: none;
  position: relative;
  display: none;
}

/***  Content Section  ***/
/* A section that displays main content of the webpage */
.content {
  grid-area: content;
  background-color: white;
  margin: 60px 0 60px 0;
}

/***  Page Footer  ***/
/* Footer Section that uses a grid to display information, scales responsively */
.page-footer {
  grid-area: footer;
  background: #292c2f;
  color: white;
  bottom: 0;
  width: 96%;
  padding: 2%;
  display: grid;
  grid-template-columns: 25% 35% 35%;
  grid-template-rows: auto;
  grid-template-areas:
    "footer-left footer-center footer-right";
}

#footer-company-details, #footer-contact-details, #footer-company-about {
  align-self: stretch;
  justify-self: stretch;
  text-align: left;
  margin: 0;
}

#footer-company-details {
  grid-area: footer-left;
}

#footer-contact-details {
  grid-area: footer-center;
}

#footer-company-about {
  grid-area: footer-right;
}

#footer-company-details h1, #footer-company-about h1 {
  margin: 10px 0 0 0;
}

#footer-company-details h1, .footer-icon-text, #footer-company-about h1 {
  font-size: 16px;
}

#footer-company-details p, #footer-company-about p, #footer-company-location span {
  font-size: 14px;
  font-style: italic;
}

.footer-contact-icon, .footer-media-icon {
  float: left;
  background-color: #32373c;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-contact-icon {
  border-radius: 50%;
}

.footer-media-icon {
  border-radius: 2px;
  margin: 10px 5px;
}

#footer-company-location, #footer-company-phone, #footer-company-email {
  margin-bottom: 10px;
}

#footer-company-location span, #footer-company-phone span, #footer-company-email span {
  display: block;
  line-height: 2;
  font-size: 16px;
  margin: 0;
}

#footer-company-phone .footer-icon-text p {
  display: inline-block;
  line-height: 1.75;
}

/***  Media Queries  ***/
/* Adjusts elements when page width is < 850 */
@media only screen and (max-width: 850px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "header header header header"
      "content content content content"
      "footer footer footer footer";
  }

  #nav-button {
    display: none;
  }

  #nav-menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  #pub-title-nav {
    display: block;
  }

  #pub-title-header {
    display: none;
  }

  .page-footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "footer-left footer-right"
      "footer-bottom footer-bottom";
  }

  #footer-company-details, #footer-contact-details, #footer-company-about {
    text-align: left;
    margin: 10px 2%;
    width: 96%;
  }

  #footer-company-details {
    align-self: stretch;
    justify-self: stretch;
    grid-area: footer-left;
  }

  #footer-contact-details {
    align-self: stretch;
    justify-self: stretchr;
    grid-area: footer-right;
  }

  #footer-company-about {
    align-self: stretch;
    justify-self: center;
    grid-area: footer-bottom;
    text-align: center;
  }
}

/* Resets Elements when page width > 851 when previously < 850 */
@media only screen and (min-width: 851px) {
  #nav-button {
    display: block;
  }

  #nav-menu, #hamburger, #cross {
    display: none;
    visibility: hidden;
  }
}
