/***  Information Sections  ***/
/** Defines structure of info section and scales responsively **/
/* Content header section */
.info-header-container {
  display: inline-block;
  text-align: center;
  width: 96%;
  margin: -2% 2% 2% 2%;
}

.info-header-container h1 {
  font-size: 48px;
  font-weight: 200;
  margin: 0 auto;
  width: 40%;
  border-bottom: 1px #1a1a1a solid;
}

/* Section for Content  */
.info-container {
  display: inline-block;
  width: 96%;
  margin: 2%;
  text-align: left;
}

.info-container-image {
  float: left;
  width: 450px;
  height: 300px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 4px #00000033, 0 6px 20px 6px #0000002E;
}

.info-container-header {
  font-size: 36px;
  margin: 20px 0 0 0;
}

.info-container-subheader {
  font-size: 24px;
  margin: 0;
}

.info-container-text {
  font-size: 16px;
  font-weight: 100;
}

/* Makes cotent sections float right on every other section */
.info-container:nth-child(even) .info-container-header,
.info-container:nth-child(even) .info-container-subheader,
.info-container:nth-child(even) .info-container-text {
  text-align: right;
}

.info-container:nth-child(even) .info-container-image {
  float: right;
}

/*** Media Queries ***/
/* Adjusts image size when page width is < 1200 and > 850 */
@media only screen and (max-width: 1200px) and (min-width: 851px) {
  .info-container-image {
    width: 300px;
    height: 200px;
  }
}

/* Adjusts layout of sections when page width < 850 */
@media only screen and (max-width: 850px) {
  .info-header-container {
    margin: 2%;
  }

  .info-header-container h1 {
    width: 90%;
  }

  .info-container-image {
    width: 90%;
    margin: 5%;
  }

  .info-container-header, .info-container-subheader, .info-container-text {
    text-align: center;
    display: block;
  }

  .info-container:nth-child(even) .info-container-header,
  .info-container:nth-child(even) .info-container-subheader,
  .info-container:nth-child(even) .info-container-text{
    text-align: center;
  }
}
