#pub-title-nav {
  display: block;
  position: absolute;
  float: left;
}

form h1 {
  width: 40%;
  font-size: 32px;
  text-align: center;
  margin: 2% auto 6% auto;
  padding-bottom: 10px;
  border-bottom: 1px black solid;
}

.input-button {
  font-family: 'Quicksand', sans-serif;
  border: 1px black solid;
  width: 60%;
  max-width: 600px;
  display: block;
  margin: 1% auto;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 15px;
  outline: none;
  text-decoration: none;
}

.input-button option {
  outline: none;
  border: none;
}

.input-button:hover, .input-button:active {
  border: 1px #666 solid;
  text-decoration: none;
}

::-webkit-inner-spin-button {
  display: none;
}

.submit-button {
  background: linear-gradient(#6fa9ff, #4892ff);
  color: white;
  text-align: center;
  border: none;
  margin-top: 2%;
  transition: ease-in-out, 0.5s;
  cursor: pointer;
}

.submit-button:hover {
  background: linear-gradient(#78b4ff, #559cff);
  border: none;
}

form p {
  display: block;
  margin: 2% auto;
  text-align: center;
  font-size: 14px;
}

form p a {
  text-decoration: none;
  color: rgb(51, 133, 255);
}

form p a:hover {
  text-decoration: underline;
}

.validCheck {
  color: red;
  margin: 0;
}

/*Styling Selectbox*/
span.msg, span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit;
}

.dropdown {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  margin: auto;
  font-size: 14px;
  color: #474747;
  text-align: left;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px;
    max-height: 18px;
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease;
    float: right;
    line-height: 20px;
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204);
}
.dropdown:active {
    background-color: #f8f8f8;
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8;
}
.dropdown.active .select > i {
    transform: rotate(-90deg);
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9;
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none;
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2;
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2;
}

@media only screen and (max-width: 850px) {
  #pub-title-nav {
    position: relative;
  }

  .input-button {
    width: 96%;
    margin: 2% auto;
    max-width: none;
  }
}
